* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}



.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #131842;
    color: #FBF6E2;
    text-align: center;
}

#title {
    text-align: center;
    text-transform: uppercase;
    font-size: 56px;
    padding: 20px;
    margin-bottom: 50px;
}

.title-weapon {
    font-family: monospace;
    font-weight: 900;
    color: #E68369;
}

#display {
    margin: 0 auto;
    padding: 24px 0;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#display .name {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
}

#display #vs, #display .score {
    font-size: 46px;
    color: #FBF6E2;
}

#display .score {
    text-align: center;
    margin-bottom: 20px;
}

#computer-container, #player-container {
    flex: 1;
    display: flex;
}

#display .img-choice {
    background-color: #E68369;
    height: 300px;
    width: 300px;
    border: 3px solid #FBF6E2;
    border-radius: 12px;
    overflow: hidden;
}

.img-choice img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.control-result {
    max-width: 900px;
    margin: 24px auto 0;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 12px;
    background-color: #ECCEAE;
}

#text-result {
    flex: 1;
    color: #131842;
}

#text-result p {
    margin: 6px auto;
}

.buttons {
    flex: 1;
}

.buttons button {
    padding: 10px 24px;
    cursor: pointer;
    background-color: #E68369;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #FBF6E2;
}

.winColor {
    color: green;
}

.loseColor {
    color: red;
}

#restart {
    display: none;
    padding: 10px 44px;
    cursor: pointer;
    background-color: #E68369;
    border: 2px solid #FBF6E2;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #FBF6E2;
    margin-top: 20px;
}